In [1]:
import numpy as np
import pandas as pd

In [28]:
zip_tract = pd.read_csv("datasets/zip_tract.csv")
business_licenses = pd.read_csv("datasets/business_licenses.csv")

In [30]:
business_licenses['ZIP CODE'] = business_licenses['ZIP CODE'].fillna(0)
business_licenses['ZIP CODE'] = business_licenses['ZIP CODE'].astype(int)
business_licenses = business_licenses.rename(columns={"ZIP CODE": 'ZIP'})

In [31]:
business_licenses_tract = pd.merge(business_licenses, zip_tract, on='ZIP')
business_licenses_tract = business_licenses_tract.drop_duplicates(subset=['LEGAL NAME'])
business_licenses_count = business_licenses_tract.groupby(['TRACT'])['TRACT'].count()

In [69]:
business_licenses_count.to_csv("datasets/business_licenses_count.csv")

In [78]:
restaurants_url = 'https://raw.githubusercontent.com/yukichong1998/perceptrons/main/data/Food_Inspections_cleaned.csv?token=GHSAT0AAAAAABQM57II23JQE4CJW4SRECFWYULX6EQ'

In [79]:
restaurants = pd.read_csv(restaurants_url)
restaurants = restaurants.rename(columns={"Zip": 'ZIP'})
restaurants_tract = pd.merge(restaurants, zip_tract, on='ZIP')
restaurants_tract = restaurants_tract.drop_duplicates(subset=['DBA Name', 'Address'])
restaurants_count = restaurants_tract.groupby(['TRACT'])['TRACT'].count()

In [98]:
restaurants_count.columns = ['tract', 'restaurants_count']
restaurants_count.to_csv("datasets/restaurants_count.csv")

In [72]:
grocery_url = 'https://raw.githubusercontent.com/yukichong1998/perceptrons/main/data/Grocery_Store_Status_cleaned.csv?token=GHSAT0AAAAAABQM57IICC43BJ55CBIKH4SOYULXUQA'
grocery_stores = pd.read_csv(grocery_url)
grocery_stores = grocery_stores.rename(columns={"Zip": 'ZIP'})
grocery_stores_tract = pd.merge(grocery_stores, zip_tract, on='ZIP')
grocery_stores_count = grocery_stores_tract.groupby(['TRACT'])['TRACT'].count()

In [73]:
grocery_stores_count

TRACT
17031010100     6
17031010201     8
17031010202     6
17031010300     6
17031010400     9
               ..
17031843600     6
17031843700     9
17031843800     5
17031843900     6
17031980100    15
Name: TRACT, Length: 827, dtype: int64

In [74]:
grocery_stores_count.columns = ['tract', 'grocery_stores_count']
grocery_stores_count.to_csv("datasets/grocery_stores_count.csv")

In [96]:
r = pd.read_csv("datasets/restaurants_count.csv") 
r = r[["tract", "restaurants_count"]]
r.columns = ['GEOID', 'restaurants_count']
r.to_csv("datasets/restaurants_count_correct.csv")

In [90]:
g = pd.read_csv("datasets/grocery_stores_count.csv")
g.columns = ['GEOID', 'grocery_stores_count']
g.to_csv("datasets/grocery_stores_count_correct.csv")

In [101]:
public_schools = pd.read_csv("datasets/public_schools.csv")

,X,Y,OBJECTID,NCESID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,POPULATION,COUNTY,COUNTYFIPS,LATITUDE,LONGITUDE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,FT_TEACHER
0,-87.665682,41.692187,2043,1.709930e+11,MORGAN PARK HIGH SCHOOL,1744 W PRYOR AVE,CHICAGO,IL,60643,3497,1506,COOK,17031,41.692187,-87.665682,3,1425,7,12,81
1,-87.683191,41.891974,2084,1.709930e+11,MITCHELL ELEM SCHOOL,2233 W OHIO ST,CHICAGO,IL,60612,1519,377,COOK,17031,41.891974,-87.683191,1,357,PK,8,20
2,-87.686576,41.874747,2085,1.709930e+11,UNO ACADEMY CHARTER SCHOOLS,954 W WASHINGTON BLVD FL 3,CHICAGO,IL,60607,2224,8326,COOK,17031,41.874747,-87.686576,4,7923,KG,12,403
3,-87.557463,41.734303,2086,1.709930e+11,BOWEN HIGH SCHOOL,2710 E 89TH ST,CHICAGO,IL,60617,3192,399,COOK,17031,41.734303,-87.557463,3,368,9,12,31
4,-87.697293,41.774382,2246,1.709930e+11,MARQUETTE ELEM SCHOOL,6550 S RICHMOND ST,CHICAGO,IL,60629,2821,1290,COOK,17031,41.774382,-87.697293,1,1230,PK,8,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,-87.447706,41.648818,101805,1.802880e+11,ABRAHAM LINCOLN ELEMENTARY SCH,2001 E 135TH ST,EAST CHICAGO,IN,46312,2099,507,LAKE,18089,41.648818,-87.447706,1,480,PK,5,27
659,-87.854027,42.315399,101843,1.700110e+11,HOWARD A YEAGER ELEM SCH,1811 MORROW AVE,NORTH CHICAGO,IL,60064,3223,-999,LAKE,17097,42.315399,-87.854027,N,-1,PK,PK,-1
660,-87.708022,41.934276,102125,1.709930e+11,LOGANDALE MIDDLE SCHOOL,3212 W GEORGE ST,CHICAGO,IL,60618,7529,869,COOK,17031,41.934276,-87.708022,1,824,PK,8,45
661,-87.675359,41.774615,102206,1.709930e+11,OTOOLE ELEM SCHOOL,6550 S SEELEY AVE,CHICAGO,IL,60636,2500,488,COOK,17031,41.774615,-87.675359,1,466,PK,8,22
662,-87.628822,41.851879,102207,1.709930e+11,NATIONAL TEACHERS ELEM ACADEMY,55 W CERMAK RD,CHICAGO,IL,60616,2001,657,COOK,17031,41.851879,-87.628822,1,620,PK,8,37

In [103]:
public_schools_tract = pd.merge(public_schools, zip_tract, on='ZIP')
public_schools_count = public_schools_tract.groupby(['TRACT'])['TRACT'].count()
public_schools_count.to_csv("datasets/public_schools_count.csv")

In [104]:
p = pd.read_csv("datasets/public_schools_count.csv")
p.columns = ['GEOID', 'public_schools_count']
p.to_csv("datasets/public_schools_count_correct.csv")